body
{
   background-color: #FFFFFF;
   color: #000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 16px;
   line-height: 1.1875;
   margin: 0;
   padding: 0;
}
#wb_LayoutGrid1
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: #000000;
   background-image: none;
   border: 0px solid #DEE2E6;
   border-radius: 0px;
   box-sizing: border-box;
   margin: 0;
}
#LayoutGrid1
{
   box-sizing: border-box;
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   padding: 15px 0 15px 0;
   margin-right: auto;
   margin-left: auto;
   max-width: 2000px;
}
#LayoutGrid1 > .col-1, #LayoutGrid1 > .col-2, #LayoutGrid1 > .col-3, #LayoutGrid1 > .col-4
{
   box-sizing: border-box;
   font-size: 0;
   min-height: 1px;
   padding-right: 15px;
   padding-left: 15px;
   position: relative;
}
#LayoutGrid1 > .col-1, #LayoutGrid1 > .col-2, #LayoutGrid1 > .col-3, #LayoutGrid1 > .col-4
{
   flex: 0 0 auto;
}
#LayoutGrid1 > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   flex-basis: 8.33333333%;
   max-width: 8.33333333%;
   display: flex;
   flex-wrap: wrap;
   align-content: flex-start;
   align-self: stretch;
   align-items: flex-start;
   justify-content: flex-start;
   text-align: left;
}
#LayoutGrid1 > .col-2
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   flex-basis: 8.33333333%;
   max-width: 8.33333333%;
   display: flex;
   flex-wrap: wrap;
   align-content: flex-start;
   align-self: stretch;
   align-items: flex-start;
   justify-content: flex-start;
   text-align: left;
}
#LayoutGrid1 > .col-3
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   flex-basis: 33.33333333%;
   max-width: 33.33333333%;
   display: flex;
   flex-wrap: wrap;
   align-content: flex-start;
   align-self: stretch;
   align-items: flex-start;
   justify-content: flex-start;
   text-align: left;
}
#LayoutGrid1 > .col-4
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   flex-basis: 50%;
   max-width: 50%;
   display: flex;
   flex-wrap: wrap;
   align-content: flex-start;
   align-self: stretch;
   align-items: flex-start;
   justify-content: flex-start;
   text-align: left;
}
@media (max-width: 480px)
{
#LayoutGrid1 > .col-1, #LayoutGrid1 > .col-2, #LayoutGrid1 > .col-3, #LayoutGrid1 > .col-4
{
   flex-basis: 100% !important;
   max-width: 100% !important;
}
}
#wb_Text1 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0 0 0 -5px;
   margin: 10px 0 0 -10px;
   text-align: left;
}
#wb_Text1 div
{
   text-align: left;
}
#wb_Text1
{
   display: block;
   margin: 10px 0 0 -10px;
   box-sizing: border-box;
   width: calc(100% - -10px);
}
#wb_CssMenu1
{
   border: 0px solid #C0C0C0;
   border-radius: 10px;
   background-color: transparent;
   margin: 0;
   text-align: right;
   position: relative;
   z-index: 1111 !important;
}
#wb_CssMenu1 ul
{
   list-style-type: none;
   margin: 0;
   padding: 0;
   position: relative;
   display: inline-block;
}
#wb_CssMenu1 li
{
   display: inline-block;
   margin: 0;
   padding: 10px 0px 10px 30px;
}
#wb_CssMenu1 a
{
   display: block;
   color: #FFE4B5;
   border: 1px solid rgba(13,110,253,0.00);
   border-radius: 10px;
   background-color: rgba(13,110,253,0.00);
   background-image: none;
   font-family: Georgia;
   font-weight: bold;
   font-size: 24px;
   font-style: normal;
   text-decoration: none;
   text-transform: none;
   text-align: center;
   vertical-align: middle;
}
#wb_CssMenu1 > ul > li > a
{
   height: 28px;
   line-height: 28px;
   padding: 0px 10px 0px 10px;
}
#wb_CssMenu1 li:hover a, #wb_CssMenu1 a:hover, #wb_CssMenu1 .active
{
   color: #000000;
   border: 1px solid rgba(10,88,202,0.00);
   background-color: #FFE4B5;
   background-image: none;
}
#wb_CssMenu1 li.firstmain
{
   padding-left: 10px;
}
#wb_CssMenu1 li.lastmain
{
   padding-right: 10px;
}
#wb_CssMenu1 br
{
   clear: both;
   font-size: 1px;
   height: 0;
   line-height: 0;
}
#CssMenu1 li i
{
   font-size: 24px;
   margin-right: 6px;
   width: 26px;
}
#wb_Image1
{
   margin: 0;
   vertical-align: top;
}
#Image1
{
   border: 0px solid #000000;
   border-radius: 100px;
   box-sizing: border-box;
   padding: 0;
   display: block;
   width: 100%;
   height: auto;
   max-width: 52px;
   margin-left: auto;
   margin-right: auto;
   vertical-align: top;
}
#wb_LayoutGrid2
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: transparent;
   background-image: url('images/shopBG.jpg');
   background-repeat: no-repeat;
   background-position: left top;
   background-size: cover;
   border: 0px solid #DEE2E6;
   border-radius: 0px;
   box-sizing: border-box;
   margin: 0;
}
#LayoutGrid2
{
   box-sizing: border-box;
   padding: 55px 15px 70px 15px;
   margin-right: auto;
   margin-left: auto;
}
#LayoutGrid2 > .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#LayoutGrid2 > .row > .col-1, #LayoutGrid2 > .row > .col-2
{
   box-sizing: border-box;
   font-size: 0;
   min-height: 1px;
   padding-right: 15px;
   padding-left: 15px;
   position: relative;
}
#LayoutGrid2 > .row > .col-1, #LayoutGrid2 > .row > .col-2
{
   float: left;
}
#LayoutGrid2 > .row > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   width: 75%;
   text-align: left;
}
#LayoutGrid2 > .row > .col-2
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   width: 25%;
   text-align: left;
}
#LayoutGrid2:before,
#LayoutGrid2:after,
#LayoutGrid2 .row:before,
#LayoutGrid2 .row:after
{
   display: table;
   content: " ";
}
#LayoutGrid2:after,
#LayoutGrid2 .row:after
{
   clear: both;
}
@media (max-width: 480px)
{
#LayoutGrid2 > .row > .col-1, #LayoutGrid2 > .row > .col-2
{
   float: none;
   width: 100% !important;
}
}
#wb_features1Heading
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   box-sizing: border-box;
   vertical-align: top;
   margin: 20px 0 50px 0 ;
   padding: 0;
   text-align: center;
}
#features1Heading
{
   color: #F5F5F5;
   font-family: Georgia;
   font-weight: bold;
   font-style: normal;
   font-size: 43px;
   margin: 0;
   text-align: center;
   text-transform: none;
}
#wb_features1CardContainer
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #CCCCCC;
   border-radius: 0px;
   box-sizing: border-box;
   position: relative;
   width: 100%;
}
#features1CardContainer
{
   display: flex;
   position: relative;
   padding: 20px 0 0 0;
   flex-direction: row;
   flex-wrap: wrap;
   justify-content: center;
   align-items: stretch;
   align-content: flex-start;
   margin-top: 0px;
   margin-bottom: 0px;
   margin-right: auto;
   margin-left: auto;
   max-width: 1140px;
   background-color: transparent;
   background-image: none;
   box-sizing: border-box;
   font-size: 0;
}
@media all and (max-width:768px) 
{
#features1CardContainer
{
   flex-direction: column;
   flex-wrap: nowrap;
}
}
#wb_features1Card1
{
   position: relative;
   display: flex;
   flex-direction: column;
   flex-grow: 1;
   flex-shrink: 1;
   flex-basis: 0%;
   align-self: auto;
   box-sizing: border-box;
   margin: 0 0 30px 0 ;
   background-color: transparent;
   background-image: none;
   border: 0px solid #DEE2E6;
   border-radius: 0px;
   text-align: center;
}
#features1Card1-card-body
{
   padding: 0 10px 0 10px;
   flex: 1 1 auto;
   font-size: 0;
}
#features1Card1-card-item0
{
   box-sizing: border-box;
   margin: 0;
   padding: 0;
   border: 0px dotted #DEE2E6;
   border-radius: 20px;
   max-width: 200px;
   margin-left: auto;
   margin-right: auto;
   width: 100%;
   height: 200px;
}
#features1Card1-card-item1
{
   box-sizing: border-box;
   margin: 20px 20px 0 20px;
   padding: 0;
}
#features1Card1-card-item1 h1
{
   color: #FFFFFF;
   font-family: Arial;
   font-weight: bold;
   font-style: normal;
   font-size: 20px;
   margin: 0;
}
#features1Card1-card-item2
{
   display: inline-block;
   height: 31px;
   box-sizing: border-box;
   margin: 10px 0 0 0 ;
   border: 0px solid transparent;
   border-radius: 100px;
   background-color: #7D360C;
   background-image: none;
   color: #FFFFFF;
   font-family: Georgia;
   font-weight: bold;
   font-style: normal;
   font-size: 11px;
}
#features1Card1-card-item2 a
{
   color: inherit;
   display: block;
   padding: 10px 20px 10px 20px;
   text-decoration: none;
}
#wb_features1Card2
{
   position: relative;
   display: flex;
   flex-direction: column;
   flex-grow: 1;
   flex-shrink: 1;
   flex-basis: 0%;
   align-self: auto;
   box-sizing: border-box;
   margin: 0 0 30px 0 ;
   background-color: transparent;
   background-image: none;
   border: 0px solid #DEE2E6;
   border-radius: 0px;
   text-align: center;
}
#features1Card2-card-body
{
   padding: 0 10px 0 10px;
   flex: 1 1 auto;
   font-size: 0;
}
#features1Card2-card-item0
{
   box-sizing: border-box;
   margin: 0;
   padding: 0;
   border: 0px dotted #DEE2E6;
   border-radius: 20px;
   max-width: 200px;
   margin-left: auto;
   margin-right: auto;
   width: 100%;
   height: 200px;
}
#features1Card2-card-item1
{
   box-sizing: border-box;
   margin: 20px 20px 0 20px;
   padding: 0;
}
#features1Card2-card-item1 h1
{
   color: #FFFFFF;
   font-family: Arial;
   font-weight: bold;
   font-style: normal;
   font-size: 20px;
   margin: 0;
}
#features1Card2-card-item2
{
   display: inline-block;
   height: 31px;
   box-sizing: border-box;
   margin: 10px 0 0 0 ;
   border: 0px solid transparent;
   border-radius: 100px;
   background-color: #7D360C;
   background-image: none;
   color: #FFFFFF;
   font-family: Georgia;
   font-weight: bold;
   font-style: normal;
   font-size: 11px;
}
#features1Card2-card-item2 a
{
   color: inherit;
   display: block;
   padding: 10px 20px 10px 20px;
   text-decoration: none;
}
#wb_features1Card3
{
   position: relative;
   display: flex;
   flex-direction: column;
   flex-grow: 1;
   flex-shrink: 1;
   flex-basis: 0%;
   align-self: auto;
   box-sizing: border-box;
   margin: 0;
   background-color: transparent;
   background-image: none;
   border: 0px solid #DEE2E6;
   border-radius: 0px;
   text-align: center;
}
#features1Card3-card-body
{
   padding: 0 15px 0 15px;
   flex: 1 1 auto;
   font-size: 0;
}
#features1Card3-card-item0
{
   box-sizing: border-box;
   margin: 0;
   padding: 0;
   border: 0px dotted #DEE2E6;
   border-radius: 20px;
   max-width: 200px;
   margin-left: auto;
   margin-right: auto;
   width: 100%;
   height: 200px;
}
#features1Card3-card-item1
{
   box-sizing: border-box;
   margin: 20px 20px 0 20px;
   padding: 0;
}
#features1Card3-card-item1 h1
{
   color: #FFFFFF;
   font-family: Arial;
   font-weight: bold;
   font-style: normal;
   font-size: 20px;
   margin: 0;
}
#features1Card3-card-item2
{
   display: inline-block;
   height: 31px;
   box-sizing: border-box;
   margin: 10px 0 0 0 ;
   border: 0px solid transparent;
   border-radius: 100px;
   background-color: #7D360C;
   background-image: none;
   color: #FFFFFF;
   font-family: Georgia;
   font-weight: bold;
   font-style: normal;
   font-size: 11px;
}
#features1Card3-card-item2 a
{
   color: inherit;
   display: block;
   padding: 10px 20px 10px 20px;
   text-decoration: none;
}
#wb_Picture1
{
   margin: 40px 0 0 0 ;
   vertical-align: top;
}
#Picture1
{
   border: 0px solid #000000;
   border-radius: 30px;
   box-sizing: border-box;
   padding: 0;
   display: block;
   width: 100%;
   height: auto;
   max-width: 1169px;
   margin-left: auto;
   margin-right: auto;
   vertical-align: top;
}
#wb_footerLayoutGrid
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: #000000;
   background-image: none;
   border: 0px solid #CCCCCC;
   border-radius: 0px;
   box-sizing: border-box;
   margin: 0;
}
#footerLayoutGrid
{
   box-sizing: border-box;
   padding: 20px 0 20px 0;
   margin-right: auto;
   margin-left: auto;
   max-width: 1140px;
}
#footerLayoutGrid > .row
{
   margin-right: 0;
   margin-left: 0;
}
#footerLayoutGrid > .row > .col-1
{
   box-sizing: border-box;
   font-size: 0;
   min-height: 1px;
   padding-right: 0px;
   padding-left: 0px;
   position: relative;
}
#footerLayoutGrid > .row > .col-1
{
   float: left;
}
#footerLayoutGrid > .row > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   width: 100%;
   text-align: center;
}
#footerLayoutGrid:before,
#footerLayoutGrid:after,
#footerLayoutGrid .row:before,
#footerLayoutGrid .row:after
{
   display: table;
   content: " ";
}
#footerLayoutGrid:after,
#footerLayoutGrid .row:after
{
   clear: both;
}
@media (max-width: 480px)
{
#footerLayoutGrid > .row > .col-1
{
   float: none;
   width: 100% !important;
}
}
#wb_footerLogo
{
   margin: 0;
   vertical-align: top;
}
#footerLogo
{
   border: 0px solid #000000;
   border-radius: 100px;
   box-sizing: border-box;
   padding: 0;
   display: block;
   width: 100%;
   height: auto;
   max-width: 60px;
   margin-left: auto;
   margin-right: auto;
   vertical-align: top;
}
#wb_footerText 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 10px 0 0 0 ;
   text-align: center;
}
#wb_footerText
{
   color: #FFFFFF;
   font-family: Georgia;
   font-weight: 400;
   font-size: 20px;
   line-height: 23px;
}
#wb_footerText p, #wb_footerText ul
{
   margin: 0;
   padding: 0;
}
#wb_footerText
{
   display: block;
   margin: 10px 0 0 0 ;
   box-sizing: border-box;
   width: 100%;
}
#wb_Picture2
{
   margin: 40px 0 0 0 ;
   vertical-align: top;
}
#Picture2
{
   border: 0px solid #000000;
   border-radius: 30px;
   box-sizing: border-box;
   padding: 0;
   display: block;
   width: 100%;
   height: auto;
   max-width: 1169px;
   margin-left: auto;
   margin-right: auto;
   vertical-align: top;
}
#wb_CardContainer1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #CCCCCC;
   border-radius: 0px;
   box-sizing: border-box;
   position: relative;
   width: 100%;
}
#CardContainer1
{
   display: flex;
   position: relative;
   padding: 70px 0 0 0;
   flex-direction: row;
   flex-wrap: wrap;
   justify-content: center;
   align-items: stretch;
   align-content: flex-start;
   margin-top: 0px;
   margin-bottom: 0px;
   margin-right: auto;
   margin-left: auto;
   max-width: 1140px;
   background-color: transparent;
   background-image: none;
   box-sizing: border-box;
   font-size: 0;
}
@media all and (max-width:768px) 
{
#CardContainer1
{
   flex-direction: column;
   flex-wrap: nowrap;
}
}
#wb_Card1
{
   position: relative;
   display: flex;
   flex-direction: column;
   flex-grow: 1;
   flex-shrink: 1;
   flex-basis: 0%;
   align-self: auto;
   box-sizing: border-box;
   margin: 0 0 30px 0 ;
   background-color: transparent;
   background-image: none;
   border: 0px solid #DEE2E6;
   border-radius: 0px;
   text-align: center;
}
#Card1-card-body
{
   padding: 0 10px 0 10px;
   flex: 1 1 auto;
   font-size: 0;
}
#Card1-card-item0
{
   box-sizing: border-box;
   margin: 0;
   padding: 0;
   border: 0px dotted #DEE2E6;
   border-radius: 20px;
   max-width: 200px;
   margin-left: auto;
   margin-right: auto;
   width: 100%;
   height: 200px;
}
#Card1-card-item1
{
   box-sizing: border-box;
   margin: 20px 20px 0 20px;
   padding: 0;
}
#Card1-card-item1 h1
{
   color: #FFFFFF;
   font-family: Arial;
   font-weight: bold;
   font-style: normal;
   font-size: 20px;
   margin: 0;
}
#Card1-card-item2
{
   display: inline-block;
   height: 31px;
   box-sizing: border-box;
   margin: 10px 0 0 0 ;
   border: 0px solid transparent;
   border-radius: 100px;
   background-color: #7D360C;
   background-image: none;
   color: #FFFFFF;
   font-family: Georgia;
   font-weight: bold;
   font-style: normal;
   font-size: 11px;
}
#Card1-card-item2 a
{
   color: inherit;
   display: block;
   padding: 10px 20px 10px 20px;
   text-decoration: none;
}
#wb_Card2
{
   position: relative;
   display: flex;
   flex-direction: column;
   flex-grow: 1;
   flex-shrink: 1;
   flex-basis: 0%;
   align-self: auto;
   box-sizing: border-box;
   margin: 0 0 30px 0 ;
   background-color: transparent;
   background-image: none;
   border: 0px solid #DEE2E6;
   border-radius: 0px;
   text-align: center;
}
#Card2-card-body
{
   padding: 0 10px 0 10px;
   flex: 1 1 auto;
   font-size: 0;
}
#Card2-card-item0
{
   box-sizing: border-box;
   margin: 0;
   padding: 0;
   border: 0px dotted #DEE2E6;
   border-radius: 20px;
   max-width: 200px;
   margin-left: auto;
   margin-right: auto;
   width: 100%;
   height: 200px;
}
#Card2-card-item1
{
   box-sizing: border-box;
   margin: 20px 20px 0 20px;
   padding: 0;
}
#Card2-card-item1 h1
{
   color: #FFFFFF;
   font-family: Arial;
   font-weight: bold;
   font-style: normal;
   font-size: 20px;
   margin: 0;
}
#Card2-card-item2
{
   display: inline-block;
   height: 31px;
   box-sizing: border-box;
   margin: 10px 0 0 0 ;
   border: 0px solid transparent;
   border-radius: 100px;
   background-color: #7D360C;
   background-image: none;
   color: #FFFFFF;
   font-family: Georgia;
   font-weight: bold;
   font-style: normal;
   font-size: 11px;
}
#Card2-card-item2 a
{
   color: inherit;
   display: block;
   padding: 10px 20px 10px 20px;
   text-decoration: none;
}
#wb_Card3
{
   position: relative;
   display: flex;
   flex-direction: column;
   flex-grow: 1;
   flex-shrink: 1;
   flex-basis: 0%;
   align-self: auto;
   box-sizing: border-box;
   margin: 0;
   background-color: transparent;
   background-image: none;
   border: 0px solid #DEE2E6;
   border-radius: 0px;
   text-align: center;
}
#Card3-card-body
{
   padding: 0 15px 0 15px;
   flex: 1 1 auto;
   font-size: 0;
}
#Card3-card-item0
{
   box-sizing: border-box;
   margin: 0;
   padding: 0;
   border: 0px dotted #DEE2E6;
   border-radius: 20px;
   max-width: 200px;
   margin-left: auto;
   margin-right: auto;
   width: 100%;
   height: 200px;
}
#Card3-card-item1
{
   box-sizing: border-box;
   margin: 20px 20px 0 20px;
   padding: 0;
}
#Card3-card-item1 h1
{
   color: #FFFFFF;
   font-family: Arial;
   font-weight: bold;
   font-style: normal;
   font-size: 20px;
   margin: 0;
}
#Card3-card-item2
{
   display: inline-block;
   height: 31px;
   box-sizing: border-box;
   margin: 10px 0 0 0 ;
   border: 0px solid transparent;
   border-radius: 100px;
   background-color: #7D360C;
   background-image: none;
   color: #FFFFFF;
   font-family: Georgia;
   font-weight: bold;
   font-style: normal;
   font-size: 11px;
}
#Card3-card-item2 a
{
   color: inherit;
   display: block;
   padding: 10px 20px 10px 20px;
   text-decoration: none;
}
#wb_PanelMenu1 a, #PanelMenu1_markup li a
{
   display: block;
   text-align: center;
   vertical-align: middle;
}
#PanelMenu1_markup
{
   display: none;
   margin: 0;
   padding: 50px 10px 10px 10px;
}
#PanelMenu1_panel #PanelMenu1_markup
{
   display: block;
}
#PanelMenu1_markup ul
{
   list-style: none;
   list-style-type: none;
   margin: 0;
   padding: 0;
}
#PanelMenu1_markup li a, #PanelMenu1_markup li a:hover
{
   padding: 10px 10px 10px 10px;
   box-shadow: none;
}
#PanelMenu1_markup .divider
{
   height: 1px;
   margin: 9px 0;
   overflow: hidden;
   background-color: #0B0301;
}
#PanelMenu1_panel
{
   display: none;
   position: fixed;
   top: 0;
   height: 100%;
   width: 250px;
   z-index: 9999;
}
#PanelMenu1_markup li a
{
   color: #FFFFFF;
   border: 0px solid transparent;
   background-color: #0B0301;
   font-family: "Arial Black";
   font-weight: bold;
   font-size: 32px;
   font-style: normal;
   text-decoration: none;
   text-transform: none;
}
#wb_PanelMenu1 a
{
   color: #FFFFFF;
   border: 1px solid transparent;
   border-radius: 0px;
   background-color: rgba(11,3,1,0.00);
   font-family: "Arial Black";
   font-weight: bold;
   font-size: 32px;
   font-style: normal;
   text-decoration: none;
   text-align: left;
   text-transform: none;
}
#PanelMenu1_markup li a:hover
{
   color: #FFE4B5;
   background-color: #0B0301;
   border: 0px solid transparent;
}
#PanelMenu1_markup li a .icon
{
   fill: currentColor;
   margin-right: 4px;
   height: 16px;
   width: 16px;
   vertical-align: middle;
}
#PanelMenu1_markup li a:hover .icon
{
   fill: currentColor;
}
#wb_PanelMenu1 a:hover
{
   color: #FFFFFF;
   background-color: rgba(11,3,1,0.00);
   border: 1px solid transparent;
}
#PanelMenu1_panel
{
   background-color: #0B0301;
   overflow-y: auto;
}
#PanelMenu1 .line
{
   width: 20px;
   height: 4px;
   background: #FFFFFF;
   display: block;
   margin: 4px auto;
   transition: all 0.3s ease-in-out;
}
#PanelMenu1 .line:first-child
{
   margin-top: 15px;
}
#PanelMenu1.open .line:nth-child(1)
{
   transform: translateY(8px) rotate(45deg);
}
#PanelMenu1.open .line:nth-child(2)
{
   opacity: 0;
}
#PanelMenu1.open .line:nth-child(3)
{
   transform: translateY(-8px) rotate(-45deg);
}
#PanelMenu1
{
   line-height: 51px;
   width: 48px;
   height: 51px;
   position: absolute;
   z-index: 999;
}
